/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active, a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.75;
  color: rgba(119, 119, 119);
}

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.75;
  color: rgba(119, 119, 119);
}

:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.75;
  color: rgba(119, 119, 119);
}

:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.75;
  color: rgba(119, 119, 119);
}

/* base */
body {
  font-family: "Montserrat", Helvetica, sans-serif;
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

a {
  color: inherit;
}
a:hover {
  cursor: pointer;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}

@media (max-width: 992px) {
  .hide-md {
    display: none;
  }
}

.btn {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2em;
  border-radius: 4px;
  padding: 0 3em;
  line-height: 3.5;
  -webkit-transition: ease-in-out .15s;
  -moz-transition: ease-in-out .15s;
  -ms-transition: ease-in-out .15s;
  -o-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}
.btn_outline {
  color: #ffffff;
  border: 1px solid #fff;
}
.btn_outline:hover {
  background-color: #fff;
  color: #000;
}
.btn_fill {
  color: #262b2e;
  background-color: #ffc93c;
  border: 1px solid transparent;
}
.btn_fill:hover {
  color: #fff;
  background-color: #262b2e;
}

.menu__icon {
  display: none;
}
.menu__logo {
  display: none;
}
.menu__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
.menu__list li {
  margin: 0 20px 0 0;
}
.menu__list li:last-child {
  margin: 0;
}
.menu__link {
  -webkit-transition: ease-in-out .15s;
  -moz-transition: ease-in-out .15s;
  -ms-transition: ease-in-out .15s;
  -o-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(100%, 0px);
    -moz-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    -o-transform: translate(100%, 0px);
    transform: translate(100%, 0px);
  }
  .menu.active {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .menu__logo {
    display: block;
    margin: 50px auto 0;
    width: 30%;
    z-index: 51;
  }
  .menu__body {
    padding: 50px 0 0 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
  .menu__list li {
    margin: 0;
    padding: 0 0 25px;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__link {
    color: #000;
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .icon-menu {
    color: #000;
    display: block;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .icon-menu span, .icon-menu span::before, .icon-menu span::after {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #262b2e;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .icon-menu span::before, .icon-menu span::after {
    position: absolute;
    content: "";
  }
  .icon-menu span::before {
    top: -8px;
  }
  .icon-menu span::after {
    top: 8px;
  }
  .icon-menu.active span {
    background-color: transparent;
  }
  .icon-menu.active span::before {
    -webkit-transform: translateY(8px) rotate(45deg);
    -moz-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .icon-menu.active span::after {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -moz-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

.section {
  color: #262b2e;
}
.section__icon {
  text-align: center;
  margin: 0 0 10px;
  color: #ffc93c;
}
.section__icon i {
  font-size: 3rem;
}
.section__title {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  font-weight: 400;
  line-height: 2;
  margin: 0 0 10px;
}
.section__text {
  line-height: 1.5;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  font-weight: 300;
}
.section__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
.section__col {
  flex: 0 1 33.333%;
}
.section__col_txt {
  padding: 50px;
}
@media (max-width: 767px) {
  .section__row {
    flex-direction: column;
  }
  .section__col_bg {
    padding: 0 0 60% 0;
  }
}

.form {
  font-size: 0.9rem;
}
.form__action {
  margin: 20px 0 0;
}
.form__button {
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.form__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  justify-content: space-between;
}
.form__col {
  flex: 0 1 49%;
}
.form__label {
  font-size: 0.9rem;
  margin: 20px 0 0 0;
  display: block;
}
.form__label-text {
  display: block;
  font-weight: 500;
  padding-bottom: 10px;
}
.form__label-asterisk {
  display: inline-block;
  margin: 0 0 0 3px;
  color: #ff6f3c;
}
.form__input {
  padding: 10px 12px;
}
.form__textarea {
  resize: none;
  height: auto;
  padding: 10px 12px;
}
.form__input, .form__textarea {
  display: block;
  width: 100%;
  line-height: 1.42;
  background-color: #fff;
  font-weight: 600;
  color: #777777;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  box-shadow: none;
}
.form__input:focus, .form__textarea:focus {
  outline: none;
  border-color: #ffc93c;
}
@media (max-width: 992px) {
  .form__row {
    flex-direction: column;
    justify-content: space-between;
  }
  .form__button {
    width: 100%;
    display: block;
  }
}
@media (max-width: 767px) {
  .form__input, .form__textarea, .form__label {
    font-weight: 400;
    font-size: 16px;
  }
}

.header {
  position: absolute;
  width: 100%;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__logo {
  flex: 0 0 100px;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__logo_sm {
  display: none;
}
.header__menu-link:hover {
  color: #ffc93c;
}
@media (max-width: 767px) {
  .header {
    position: fixed;
    background-color: #fff;
  }
  .header__row {
    padding: 15px 0;
    height: 60px;
  }
  .header__logo {
    flex: 0 0 75px;
  }
  .header__logo_lg {
    display: none;
  }
  .header__logo_sm {
    display: block;
  }
}

.cover {
  flex: 1 0 100%;
  padding: 75px 25px;
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cover__bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/cover-bg.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.cover__logo {
  width: 200px;
  max-width: 50%;
}
.cover__logo img {
  width: 100%;
}
.cover__text {
  text-align: center;
  margin: 20px 0;
}
.cover__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.25em;
  margin: 0 0 15px 0;
}
.cover__subtitle {
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0.2em;
}
.cover__buttons {
  margin: 0 0 10px 0;
}
.cover__btn {
  display: inline-block;
  margin: 0 10px 0 0;
}
.cover__btn:last-child {
  margin: 0;
}
.cover__arrow {
  color: #ffffff;
  font-size: 2rem;
  -webkit-transition: ease-in-out .15s;
  -moz-transition: ease-in-out .15s;
  -ms-transition: ease-in-out .15s;
  -o-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}
.cover__arrow:hover {
  color: #ffc93c;
  transform: translateY(2px);
}
@media (max-width: 767px) {
  .cover {
    padding: 100px 25px 75px;
  }
  .cover__logo {
    width: 150px;
  }
  .cover__title {
    font-size: 2rem;
  }
  .cover__subtitle {
    font-size: 1rem;
    letter-spacing: 0.15em;
  }
  .cover__buttons {
    width: 100%;
  }
  .cover__btn {
    text-align: center;
    display: block;
    width: 100%;
  }
}

.wrapper {
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 2000px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-direction: column;
}

.content {
  font-size: 1rem;
}

.about {
  text-align: center;
  padding: 50px 25px;
}

.contact .section__col_bg {
  flex: 0 1 30%;
}
.contact .section__col_txt {
  flex: 1 0 40%;
}
@media (max-width: 992px) {
  .contact .section__col_bg {
    flex: 0 1 40%;
  }
  .contact .section__col_txt {
    flex: 1 0 60%;
  }
}

.footer {
  padding: 25px 0;
  background-color: #262b2e;
  letter-spacing: 0.15em;
}
.footer__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  flex: 0 0 100px;
}
.footer__social {
  font-size: 1.5rem;
}
.footer__social a {
  margin-right: 10px;
  -webkit-transition: ease-in-out .15s;
  -moz-transition: ease-in-out .15s;
  -ms-transition: ease-in-out .15s;
  -o-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}
.footer__social a:last-child {
  margin-right: 0;
}
.footer__menu a, .footer__social a {
  color: rgba(255, 255, 255, 0.5);
}
.footer__menu a:hover, .footer__social a:hover {
  color: #ffc93c;
}
.footer__copyright {
  font-weight: 200;
}
@media (max-width: 767px) {
  .footer__menu {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
