@import "burger";

.btn {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .2em;
  border-radius: 4px;

  padding: 0 3em;
  line-height: 3.5;
  @include transition();

  &_outline {
    color: #ffffff;
    border: 1px solid #fff;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &_fill {
    color: $color-dark;
    background-color: $color-yellow;
    border: 1px solid transparent;

    &:hover {
      color: #fff;
      background-color: $color-dark;
    }
  }
}

.menu {
  &__icon {
    display: none;
  }
  &__body {

  }
  &__logo {
    display: none;
  }
  &__list {
    @include flexbox();

    li {
      margin: 0 20px 0 0;

      &:last-child {
        margin: 0;
      }
    }

  }
  &__link {
    @include transition();
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 1.2;
  }

  @include respond-to('sm') {
    &__logo {
      display: block;
      position: fixed;
      top: 50px;
      width: 75px;
      right: 40%;
      z-index: 51;
      @include translate(500px, 0px);
      @include anim(.3s, 0s);

      &.active {
        @include translate(50%, 0px);
      }
    }
    &__body {
      position: fixed;
      width: 80%;
      height: 100%;
      right: 0;
      top: 0;
      padding: 200px 0 0 0;
      background-color: #fff;
      @include translate(100%, 0px);
      @include anim(.3s, 0s);

      &.active {
        @include translate(0px, 0px);
      }
    }
    &__list {
      flex-direction: column;
      align-items: center;

      li {
        margin: 0;
        padding: 0 0 25px;
        &:last-child {
          padding: 0;
        }
      }
    }
    &__link {
      color: #000;
      font-size: 1.3rem;
    }
  }
}

.icon-menu {
  @include respond-to('sm') {
    color: #000;
    display: block;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 5;
    span {
      @include burger(25px, 3px, 5px, #fff);
    }
    &.active span {
      @include burger(25px, 3px, 5px, #444);
      @include burger-to-cross;
    }
  }
}

.section {
  color: $color-dark;

  &__icon {
    text-align: center;
    margin: 0 0 10px;
    color: $color-yellow;
    i {
      font-size: 3rem;
    }
  }
  &__title {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: .1em;
    font-weight: 400;
    line-height: 2;
    margin: 0 0 10px;
  }
  &__text {
    line-height: 1.5;
    font-size: 1.2rem;
    letter-spacing: .05em;
    font-weight: 300;
  }
  &__row {
    @include flexbox();
  }
  &__col {
    flex: 0 1 33.333%;

    &_txt {
      padding: 50px;
    }
    &_bg {
    }
  }

  @include respond-to('sm') {
    &__row {
      flex-direction: column;
    }

    &__col {
      &_bg {
        padding: 0 0 60% 0;
      }
    }
  }
}

.form {
  font-size: .9rem;

  &__body {

  }
  &__action {
    margin: 20px 0 0;
  }
  &__button {
    font-size: .9rem;
    letter-spacing: .1em;
    font-weight: 600;
  }
  &__row {
    @include flexbox();
    justify-content: space-between;
  }
  &__col {
    flex: 0 1 49%;
  }
  &__label {
    font-size: .9rem;
    margin: 20px 0 0 0;
    display: block;
  }
  &__label-text {
    display: block;
    font-weight: 500;
    padding-bottom: 10px;
  }
  &__label-asterisk {
    display: inline-block;
    margin: 0 0 0 3px;
    color: $color-red;
  }
  &__input {
    padding: 10px 12px;
  }
  &__textarea {
    resize: none;
    height: auto;
    padding: 10px 12px;
  }
  &__input,
  &__textarea {
    display: block;
    width: 100%;
    line-height: 1.42;
    background-color: #fff;
    font-weight: 600;
    color: rgb(119, 119, 119);
    border: 1px solid rgb(178, 178, 178);
    border-radius: 4px;
    box-shadow: none;

    &:focus {
      outline: none;
      border-color: $color-yellow;
    }
  }

  @include respond-to('md') {
    &__row {
      flex-direction: column;
      justify-content: space-between;
    }
    &__button {
      width: 100%;
      display: block;
    }
  }

  @include respond-to('sm') {
    &__input,
    &__textarea,
    &__label {
      font-size: 16px;
    }
  }
}
