.header {
  position: absolute;
  width: 100%;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 50;

  &__row {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &__logo {
    flex: 0 0 100px;

    img {
      max-width: 100%;
      display: block;
    }
    &_sm {
      display: none;
    }
  }
  &__menu {
  }
  &__menu-link {
    &:hover {
      color: $color-yellow;
    }
  }

  @include respond-to('sm') {
    position: fixed;

    &__row {
      padding: 15px 0;
      height: 60px;
    }
    &__logo {
      flex: 0 0 75px;

      &_lg {
        display: none;
      }
      &_sm {
        display: block;
        visibility: hidden;
      }
    }
  }
}
