.header {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 50;

  &__row {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &__logo {
    width: 100px;
    img {
      width: 100%;
    }
  }
  &__menu {
  }
  &__menu-link {
    &:hover {
      color: $color-yellow;
    }
  }
  @include respond-to('sm') {
    &__logo {
      display: none;
    }
  }
}
